@use "./base.scss";

@font-face {
  font-family: "Genshin";
  src:
    url("static/fonts/HYWenHei-HEW.woff2") format("woff2"),
    url("static/fonts/HYWenHei-HEW.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
